li#wp-ace__settings-tab {
	float:right;
	border:none !important;
	&:hover,
	&:focus {
		background:none;
	}
	
	a {
		background-color:none !important;
		border:none !important;
		&:hover,
		&:focus {
			background:none;
		}
	}
}

.wp-ace__tab-panel-inner {
	padding:10px;
}

.wp-ace-bootstrap .alert.wp-ace__alert--empty {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.wp-ace-compiled-code-display {

	.ace_content {
		opacity:0.85;
	}
}

.wp-ace__notice {

	&.wp-ace__notice--info {
		
	}
	&.wp-ace__notice--warning {
		
	}

	.fa {
		padding-right:2px;
		font-size:125%;
	}
}

.wp-ace-bootstrap .nav-tabs a.bg-danger {
	background-color: #f2dede;

	&:hover,
	&:focus {
		background-color: #e4b9b9;
	}
}

.wp-ace-bootstrap .nav-tabs > li.active > a.bg-danger, 
.wp-ace-bootstrap .nav-tabs > li.active > a.bg-danger:hover, 
.wp-ace-bootstrap .nav-tabs > li.active > a.bg-danger:focus {
	background-color: #f2dede;
}

.wp-ace__tab-panel-inner__header {
	display: flex;
	-webkit-display: flex;
	flex-wrap: nowrap;
	justify-content:space-between;
	align-items: center;
	align-content: flex-start;
}

p.wp-ace__notice {
	margin:0 !important; 
}

// when settings modal is active
.wp-ace-modal-active #adminmenuwrap,
.wp-ace-modal-active #wpadminbar {
	z-index:1 !important;
}


// Bootstrap adjustments
.wp-ace-bootstrap input[type="radio"], .wp-ace-bootstrap input[type="checkbox"] {
	margin-top:0 !important;
}

.wp-ace-bootstrap .modal {
	z-index:99999 !important;
}