li#wp-ace__settings-tab {
  float: right;
  border: none !important; }
  li#wp-ace__settings-tab:hover, li#wp-ace__settings-tab:focus {
    background: none; }
  li#wp-ace__settings-tab a {
    background-color: none !important;
    border: none !important; }
    li#wp-ace__settings-tab a:hover, li#wp-ace__settings-tab a:focus {
      background: none; }

.wp-ace__tab-panel-inner {
  padding: 0 0 10px 0; }

.wp-ace-bootstrap .alert.wp-ace__alert--empty {
  box-shadow: none;
  -webkit-box-shadow: none; }

.wp-ace-compiled-code-display .ace_content {
  opacity: 0.85; }

.wp-ace__notice .fa {
  padding-right: 2px;
  font-size: 125%; }

.wp-ace-bootstrap .nav-tabs a.bg-danger {
  background-color: #f2dede; }
  .wp-ace-bootstrap .nav-tabs a.bg-danger:hover, .wp-ace-bootstrap .nav-tabs a.bg-danger:focus {
    background-color: #e4b9b9; }

.wp-ace-bootstrap .nav-tabs > li.active > a.bg-danger,
.wp-ace-bootstrap .nav-tabs > li.active > a.bg-danger:hover,
.wp-ace-bootstrap .nav-tabs > li.active > a.bg-danger:focus {
  background-color: #f2dede; }

.wp-ace__tab-panel-inner__header {
  display: flex;
  -webkit-display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start; }

p.wp-ace__notice {
  margin: 0 !important; }

.wp-ace-modal-active #adminmenuwrap,
.wp-ace-modal-active #wpadminbar {
  z-index: 1 !important; }

.wp-ace-bootstrap input[type="radio"], .wp-ace-bootstrap input[type="checkbox"] {
  margin-top: 0 !important; }

.wp-ace-bootstrap .modal {
  z-index: 99999 !important; }

a[data-toggle="tooltip"] i.fa {
  font-size: 17px; }

.wp-ace-bootstrap .wp-ace--web-rockstar--callout {
  margin: 0 10px;
  opacity: 0.8;
  border-top: 1px solid #ccc;
  padding-top: 3px; }

.wp-ace-bootstrap .settings-page-form h1 {
  font-size: 1.5rem; }

.wp-ace-bootstrap .settings-page-form h2 {
  font-size: 1rem; }

.wp-ace-bootstrap #wp-ace--settings-page-plugin-callout {
  margin-top: 2rem; }

.wp-ace-bootstrap .radio:first-child,
.wp-ace-bootstrap .checkbox:first-child {
  margin-top: 0; }

.wp-core-ui .wp-ace-bootstrap .button-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799; }

.wp-ace-bootstrap .wp-ace__plugin-promo-item {
  margin-bottom: 2rem; }
  .wp-ace-bootstrap .wp-ace__plugin-promo-item:last-child {
    margin-bottom: 0; }
  .wp-ace-bootstrap .wp-ace__plugin-promo-item .wp-ace__plugin-promo-item__banner {
    width: 100%;
    height: 100px;
    background-size: cover; }
    .wp-ace-bootstrap .wp-ace__plugin-promo-item .wp-ace__plugin-promo-item__banner#promo-banner--notes-widget-wrapper {
      background-image: url(../images/notes-widet-wrapper-promo.jpg); }
    .wp-ace-bootstrap .wp-ace__plugin-promo-item .wp-ace__plugin-promo-item__banner#promo-banner--wp-notes-widget {
      background-image: url(../images/wp-notes-widget-promo.jpg); }
    .wp-ace-bootstrap .wp-ace__plugin-promo-item .wp-ace__plugin-promo-item__banner#promo-banner--custom-ratings {
      background-image: url(../images/custom-ratings-promo.jpg); }
